{#
/**
 * @file los.html.twig
 * Default theme implementation to present Learning Opportunity Specification data.
 *
 * This template is used when viewing Learning Opportunity Specification pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_los()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('los') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
